{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h3>Listagem de Convocatorias Ativas</h3>

        </div>

        <div class="col-md-8">
            <h3>Listagem de Cursos matriculados</h3>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Ano</th>
                </tr>
                </thead>
                <tbody>
                {% for mat in matricula %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ mat.curso }}</td>
                    <td>{{ mat.ano }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}